*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.box{
    max-width: 518px;
    width: 100%;
    border: 1px solid #FFFFFF;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 19px;
    padding: 70px 0 30px 0;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    cursor: default;
    position: relative;
}

.Mongo-Db{
    color: #47A248;
}

.express{
    color: #FFFFFF;
}

.react{
    color: #61DAFB;
}

.node{
    color: #8CC84B;
}

.tooltip{
    font-size: 14px;
    font-weight: 700;
    line-height: 19.1px;
    position: absolute;
    top: 5px;
    background-color: #47A248;
    border-radius: 24px;
    padding: 8px 14px;
    margin-left: -5px;
    /* transition: all 0.2s ease-in-out; */
    transition: top 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
}

.icon:hover .tooltip{
    top: -50px;
    opacity: 1;
}

.tooltip::after{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(45deg) translateX(-50%);
    background-color: inherit;
    left: 50%;
    bottom: -10px;
}

.tooltip span{
    position: relative;
    z-index: 1;
}

.tooltip-mogo{
    background-color: #47A248;
}
.tooltip-express{
    background-color: #FFFFFF;
    color: black;
}
.tooltip-react{
    background-color: #61DAFB;
    color: black;
}
.tooltip-node{
    background-color: #8CC84B;
    color: black;
}